#cab_record_container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#cab_record_container_title {
  width: 100vw;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
#cab_record_container_first {
  /* border: 1px solid; */
  /* text-align: center; */
  border-radius: 3px;
  width: 33rem;
  margin-bottom: 1rem;
}
.cab_record_container_titleClass {
  padding: 3px;
  background-color: aliceblue;
  font-size: large;
  border-top-left-radius: 5px;
  padding-top: 7px;
  border: 1px solid #1034a6;
  padding-bottom: 5px;
  position: relative;
  border-top-right-radius: 5px;
}
#cab_record_container_first_description {
  /* border-radius: 2px; */
  border: 1px solid;
  margin-top: -2px;
}
.cab_record_container_description_getEmailClass {
  margin-top: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.cab_record_container_description_getEmail_firstClass {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.cab_record_container_description_getEmail_first_titleClass {
  margin-right: 18px;
}
.cab_record_container_description_getEmail_first_inputClass {
  width: 13rem;
}
.cab_record_container_description_getEmail_searchClass {
  text-align: center;
  width: 30%;
  margin-top: 20px;
  font-size: large;
  cursor: pointer;

  border-radius: 3px;
  border: 1px solid;
}
#cab_record_container_first_description_getEmail_search:hover {
  background-color: #eeeeee;
}
.cab_record_container_description_showRecordsClass {
  /* height: 10rem; */
  /* border: 1px solid red; */
  background-color: #eeeeee;
  padding: 5.1px;
  margin-top: 10px;
  overflow-y: scroll;
  border-radius: 1px;
  max-height: 21rem;
}
.resultedbookingData_container {
  border-radius: 4px;
  margin-top: 1rem;
  background-color: white;
  padding: 7px;
}

#cab_record_container_second {
  /* border: 1px solid; */
  margin-bottom: 1rem;
  border-radius: 4px;
  width: 33rem;
}
#cab_record_container_second_description {
  border: 1px solid;
  margin-top: -2px;
}
#cab_record_container_second_description_getEmail_search:hover {
  background-color: #eeeeee;
}
#next_bookingData_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#next_bookingData_container_second {
  margin-top: 10px;
}
#next_bookingData_container_second_deleteIcon {
  box-shadow: 0px 0px 6px 0px #c5c4c4 inset;
  padding: 3px;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}
#next_bookingData_container_second_editIcon {
  font-size: 22px;
  box-shadow: 0px 0px 6px 0px #c5c4c4 inset;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.resultedData_child_marginClass {
  margin-top: 11px;
}

#next_bookingData_container_editContainer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  display: flex;
  border-top: 1px solid;
  transition: height 1s;
  height: 5rem;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
}
#next_bookingData_container_editContainer_title {
  width: 100%;
  font-size: large;
  text-align: center;
  margin-top: 1rem;
}
#next_bookingData_container_editContainer_fillDetails {
  width: 100%;
}
.next_bookingData_container_editContainer_fillDetails_childClass {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.next_bookingData_container_editContainer_fillDetails_childClass_titleChild {
  width: 10rem;
}
.next_bookingData_container_editContainer_fillDetails_childClass_selectChild {
  width: 13rem;
}
#next_bookingData_container_editContainer_Button {
  width: 100%;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#next_bookingData_container_editContainer_Button_cancel {
  cursor: pointer;
  padding: 4px;
  width: 6rem;
  margin-left: 12px;
}
#next_bookingData_container_editContainer_Button_update {
  cursor: pointer;
  padding: 4px;
  width: 6rem;
}
#no_cabAvailable_prompt {
  width: 100%;
  text-align: center;
}
