#header_container {
  border-bottom: 3px solid #1034a6;
  background-color: aliceblue;
  justify-content: space-evenly;
  color: #1034a6;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
}
#header_container_title {
  padding-top: 11px;
  padding-bottom: 1rem;
  /* margin-left: 3rem; */
}

#header_container_first {
  cursor: pointer;
  padding-top: 11px;
  /* margin-left: 43rem; */
}
#header_container_second {
  /* margin-left: 3rem; */
  cursor: pointer;
  padding-top: 11px;
}
